.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

table th {
  text-align: center !important;
  font-size: 15px;
}

table td {
  text-align: center;
  font-size: 15px;
}
